@import url("https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&display=swap");

body {
  font-family: "Cabin";
  background-color: #758190;
}

#tentacles {
  width: 50px;
}

.header {
  display: flex;
  background-color: lightblue;
  padding: 1%;
  align-items: center;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}

.stats-container {
  display: flex;
}

.stats-container:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

.stats-card {
  background-color: #a8b0bc;
  border-radius: 7px;
  padding: 1%;
  margin: 1%;
  width: 100%;
  text-align: center;
}

#num-contributions,
#total-raised,
#num-games {
  font-size: 50px;
}

#games-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.game-img {
  width: 100%;
  border-radius: 5px;
  box-shadow: 0 0 10px #ffffff;
}

.game-card {
  background-color: #ffffff;
  padding: 1%;
  margin: 1%;
  width: 300px;
  text-align: center;
  border-radius: 7px;
}

.game-card:hover {
  cursor: pointer;
  box-shadow: 0 0 30px lightblue;
}

#button-container {
  text-align: center;
}

button {
  font-family: "Cabin";
  border: none;
  padding: 1%;
  margin: 1%;
  border-radius: 7px;
}

/* New added features */
.games-list-text {
  text-align: center; /* I prefer the centered look */
}

/*mobile respoinsiveness */
@media only screen and (max-width: 600px) {
  .stats-container {
    flex-wrap: wrap;
  }
}

/* Form styling */
.form-section {
  max-width: 50%;
  margin: 10px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
}

#feedback-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  margin-bottom: 8px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  box-sizing: border-box;
}

.form-btn {
  width: 100%;
  padding: 10px;
  background-color: #758190;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Search bar */

.search-section {
  max-width: 400px;
  margin: 20px auto;
  text-align: center;
}

#search {
  padding: 8px;
  width: 70%;
  box-sizing: border-box;
  margin-right: 10px;
}

#search-btn:hover {
  cursor: pointer;
}

#refresh-btn:hover {
    cursor: pointer;
  }